
.idea/modules.xml
.idea/shoping.iml
.idea/vcs.xml
.idea/workspace.xml
Shoping/.idea/misc.xml
.DS_Store
Shoping/.idea/misc.xml
Shoping/.idea/runConfigurations/app.xml
Shoping/.idea/runConfigurations/app.xml
Shoping/.idea/runConfigurations/app.xml
Shoping/.idea/runConfigurations/app.xml
Shoping/app/build.gradle
Shoping/.idea/runConfigurations/app.xml
*.xml___jb_tmp___
Shoping/.idea/runConfigurations/app.xml
