<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morga.shoping">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_shoping_blanc"
        android:label="Shoping"
        android:roundIcon="@drawable/logo_shoping_blanc"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Accueil"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".selection_recette"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".categorie_recette"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Liste_recettes"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Ma_recette"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity android:name=".Ma_recette_creation" />
        
        <activity android:name=".categorie_ingredient" />

        <activity android:name=".mes_courses" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".liste_ingredients"

            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Ingredients"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Aide_mentions"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        </activity>
    </application>

</manifest>